<!DOCTYPE html>
<html>
	<head>
		<title>HEADER&#46;EJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
    <div class="container">
      <div class="jumbotron"><h1>HEADER&#46;EJS</h1></div>
    </div> <!-- Closes the container -->
    <div class="container">
      <div><code>&lt;&#33;DOCTYPE html&gt;</code></div>	
      <div><code>&lt;html&gt;</code></div>	
      <div><code>&emsp;&lt;head&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;title&gt;Title Here&lt;&#47;title&gt;</code></div>	
      <div><code>&emsp;&emsp;&lt;&#33;&#45;&#45; Path to CSS Framework &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;link rel&#61;&#34;stylesheet&#34; type&#61;&#34;text&#47;css&#34; href&#61;&#34;Path to css framework&#34;&gt;</code></div>	
      <div><code>&emsp;&emsp;&lt;&#33;&#45;&#45; Path to custom CSS &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;link rel&#61;&#34;stylesheet&#34; type&#61;&#34;text&#47;css&#34; href&#61;&#34;&#47;stylesheets&#47;app&#46;css&#34;&gt;</code></div>	
      <div><code>&emsp;&lt;&#47;head&gt;</code></div>	
      <div><code>&lt;body&gt;</code></div>	
      <div><code>&emsp;&lt;div class&#61;&#39;ui fixed inverted menu&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;div class&#61;&#39;ui container&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;div class&#61;&#39;header item&#39;&gt;&lt;i class&#61;&#39;paint brush icon&#39;&gt;&lt;&#47;i&gt;Guitar Site&lt;&#47;div&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;a href&#61;&#39;&#47;&#39; class&#61;&#39;item&#39;&gt;Home&lt;&#47;a&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;a href&#61;&#39;&#47;guitars&#47;new&#39; class&#61;&#39;item&#39;&gt;New Guitar&lt;&#47;a&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;&#47;div&gt;</code></div>
      <div><code>&emsp;&lt;&#47;div&gt;</code></div>
      <p></p>
      <a class="btn btn-med btn-warning" href="../../app_js.html#index">Go to APP&#46;JS</a>
      <a class="btn btn-med btn-primary" href="../index_ejs.html">Go to INDEX&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../new_ejs.html">Go to NEW&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../show_ejs.html">Go to SHOW&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../edit_ejs.html">Go to EDIT&#46;EJS</a>
      <a class="btn btn-med btn-success" href="../../restful_routes.html">Back to table</a>
    </div> <!-- Closes the container -->
	</body>
</html>