<!DOCTYPE html>
<html>
	<head>
		<title>NEW&#46;EJS</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
    <div class="container">
      <div class="jumbotron"><h1>NEW&#46;EJS</h1></div>
    </div> <!-- Close container -->    
    <div class="container">
      <div><code>&lt;&#37; include &#46;&#47;partials&#47;header &#37;&gt;</code></div>	
      <div><code>&lt;div class&#61;&#39;ui main text container segment&#39;&gt;</code></div>
      <div><code>&emsp;&lt;div class&#61;&#39;ui huge header&#39;&gt;New Guitar&lt;&#47;div&gt;</code></div>
      <div><code>&emsp;&lt;form class&#61;&#39;ui form&#39; action&#61;&#39;&#47;guitars&#39; method&#61;&#39;POST&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;div class&#61;&#39;field&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;label&gt;Title&lt;&#47;label&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;input type&#61;&#39;text&#39; name&#61;&#39;guitar&#91;title&#93;&#39; placeholder&#61;&#39;title&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;&#47;div&gt; &lt;&#33;&#45;&#45; Closes field &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;div class&#61;&#39;field&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;label&gt;Image URL&lt;&#47;label&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;input type&#61;&#39;text&#39; name&#61;&#39;guitar&#91;image&#93;&#39; placeholder&#61;&#39;image url&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;&#47;div&gt; &lt;&#33;&#45;&#45; Closes field &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;div class&#61;&#39;field&#39;&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;label&gt;Guitar Description&lt;&#47;label&gt;</code></div>
      <div><code>&emsp;&emsp;&emsp;&lt;textarea name&#61;&#39;guitar&#91;body&#93;&#39;&gt;&lt;&#47;textarea&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;&#47;div&gt; &lt;&#33;&#45;&#45; Closes field &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;input class&#61;&#39;ui yellow basic button&#39; type&#61;&#39;submit&#39;&gt;</code></div>
      <div><code>&emsp;&lt;&#47;form&gt;</code></div>
      <div><code>&lt;&#47;div&gt; &lt;&#33;&#45;&#45; Closes ui main text container segment &#45;&#45;&gt;</code></div>      
      <div><code>&lt;&#37; include &#46;&#47;partials&#47;footer &#37;&gt;</code></div>	
      <p></p>
      <a class="btn btn-med btn-warning" href="../app_js.html#new">Back to APP&#46;JS</a>
      <a class="btn btn-med btn-primary" href="partials/header_ejs.html">Go to HEADER&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="partials/footer_ejs.html">Go to FOOTER&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../public/stylesheets/app_css.html">Go to APP&#46;CSS</a>
      <a class="btn btn-med btn-success" href="../restful_routes.html">Back to table</a>
    </div> <!-- Close container -->
	</body>
</html>

