<!DOCTYPE html>
<html>
	<head>
		<title>FOOTER&#46;EJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
    <div class='container'>
      <div class='jumbotron'><h1>FOOTER&#46;EJS</h1></div>
    </div> <!-- Closes the container -->
    <div class='container'>
      <div><code>&emsp;&emsp;&lt;&#33;&#45;&#45; Path to jQuery &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;script type&#61;&#34;text&#47;javascript&#34; src&#61;&#34;Path to jQuery&#34;&gt;</code></div>	
      <div><code>&emsp;&emsp;&lt;&#33;&#45;&#45; Path to CSS Framework js &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;script type&#61;&#34;text&#47;javascript&#34; src&#61;&#34;Path to CSS Framework js&#34;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;&#33;&#45;&#45; Path to custom js &#45;&#45;&gt;</code></div>
      <div><code>&emsp;&emsp;&lt;script type&#61;&#34;text&#47;javascript&#34; src&#61;&#34;Path to custom js&#34;&gt;</code></div>	
      <div><code>&emsp;&lt;&#47;body&gt;</code></div>	
      <div><code>&lt;&#47;html&gt;</code></div>			
      <p></p>
      <a class="btn btn-med btn-warning" href="../../app_js.html#index">Go to APP&#46;JS</a>
      <a class="btn btn-med btn-primary" href="../index_ejs.html">Go to INDEX&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../new_ejs.html">Go to NEW&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../show_ejs.html">Go to SHOW&#46;EJS</a>
      <a class="btn btn-med btn-primary" href="../edit_ejs.html">Go to EDIT&#46;EJS</a>
      <a class="btn btn-med btn-success" href="../../restful_routes.html">Back to table</a>
    </div> <!-- Closes the container -->
	</body>
</html>